/*#header {
    background-color: #005CE6;
    height: 45px;
    padding: 5px;
}*/

#footer {
    background-color: #005CE6;
    height: 45px;
    padding: 5px;
    bottom: -5px;
}

/*#login{
    width:400px;
    position:fixed;
    padding: 5px;
    z-index:10;
    top:-5px;
    right:10px;
}*/

.userPasswordBoxDefault{
    width:200px;
    height:10px;
    font-size: 5px;
    padding: 5px;
    line-height: 10px;
}

.commonHeaderText{
    font-size: 10px;
}
